<router-outlet></router-outlet>
<div id="features" class="container py-4 py-lg-6">
  <div data-animate="fadeIn" data-animate-duration="0.6">
    <hr class="hr-lg mt-0 mb-3 w-10 mx-auto hr-primary" />
    <h2 class="text-center text-uppercase font-weight-bold my-0">
      Core Features
    </h2>
    <h5 class="text-center font-weight-light mt-2 mb-0 text-muted">
      Great features, great product!
    </h5>
    <hr class="mb-5 w-50 mx-auto" />
  </div>
  <div class="row text-center">
    <div class="col-lg-4 py-2" data-animate="fadeIn" data-animate-delay="0.1">
      <i class="fa fa-tachometer-alt icon-5x text-primary"></i>
      <h4 class="mt-2">
        Fully Optimized
      </h4>
      <p>Abigo cui duis luptatum nostrud proprius qui similis sit torqueo.</p>
    </div>
    <div class="col-lg-4 py-2" data-animate="fadeIn" data-animate-delay="0.2">
      <i class="fa fa-wrench icon-5x text-primary"></i>
      <h4 class="mt-2">
        Free Support
      </h4>
      <p>Abluo comis huic. Haero lobortis oppeto sudo. Aptent facilisi gravis haero luptatum ratis typicus ulciscor
        ullamcorper.</p>
    </div>
    <div class="col-lg-4 py-2" data-animate="fadeIn" data-animate-delay="0.3">
      <i class="fa fa-rocket icon-5x text-primary"></i>
      <h4 class="mt-2">
        Free Upgrades
      </h4>
      <p>Antehabeo consequat cui ea humo in iusto luctus odio qui.</p>
    </div>
    <div class="col-lg-4 py-2" data-animate="fadeIn" data-animate-delay="0.4">
      <i class="fa fa-chart-line icon-5x text-primary"></i>
      <h4 class="mt-2">
        99.9% Uptime
      </h4>
      <p>Amet nunc te valde. Laoreet natu nimis quibus tego usitas.</p>
    </div>
    <div class="col-lg-4 py-2" data-animate="fadeIn" data-animate-delay="0.5">
      <i class="fa fa-users icon-5x text-primary"></i>
      <h4 class="mt-2">
        Multiuser
      </h4>
      <p>Feugiat hendrerit nulla obruo. Appellatio minim pecus torqueo.</p>
    </div>
    <div class="col-lg-4 py-2" data-animate="fadeIn" data-animate-delay="0.6">
      <i class="fa fa-plug icon-5x text-primary"></i>
      <h4 class="mt-2">
        Plug n play
      </h4>
      <p>Abluo aliquip dolus euismod hendrerit letalis premo proprius quae venio.</p>
    </div>
  </div>
</div>
